*{
    margin:0;
    padding:0;

}


/*MENÚ*/

/*
    MOBILE VERSION ---360 o menos
*/
footer{
  background-color: rgb(120, 133, 128);
  height: 8vh;
  /* vh determina porcentaje del viewport .. en este casoo seria 8/100*/
  display:flex;
  justify-content: space-between;

}


header {
    background-color: rgb(120, 133, 128);
    height: 8vh;
    /* vh determina porcentaje del viewport .. en este casoo seria 8/100*/
    display:flex;
    justify-content: space-between;

}

header ul {

    display: none;

}


.iconoMenu {
    display: inline-block ;
    
    margin: 1vh;
    height: 6vh;
    width: 6vh;
    line-height: 6vh;
    user-select: none;

    

}




@media screen and (min-width: 768px){
          .menu-button{
            display: none;
          }
      .iconoMenu{
        display: none;
      }
      
      nav ul{
        display: block;
      }
      
      nav ul li{
        list-style: none;
        display: inline-block;
        line-height: 8vh;
        margin: 0 .5em;
      }
}
/* apartir de aquí damos funcionalidad a nuestro menú*/

/* ocultamos la lista  */

ul{
  position: relative;
  display:none;
  width: 200px;
  background: lightcyan;
 
}
/* y aquí modificamos el estilo de la lista  cuando el check este seleccionado */
input:checked ~ ul {
  display: block;

}

/* Ocultamos el input para que "no se vea feo" */

input {
  display: none;
}

/* estilo en menu  */

header ul li {
  display: block;
  margin: 0;
  padding: 10px;
  list-style: none;




}






li a {
  text-decoration: none;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;


}


/* CONTACTO MOBILE VERSION */

.wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: whitesmoke;


}

.container{
  display:flex;
  flex-direction: column;

}

/* fuente de body en biografia */
.fontdiner{
  font-family: 'Fontdiner Swanky';
  font-size: 15px;

}

/*TABLET VERSION 361 A 960 */
@media screen and (min-width:361px){
.wrapper{
  width: 360px;
  background-color: whitesmoke;
}
.container{

flex-direction: row;

}

section{
  margin:0 3%

}

}







/* DESKTOP VERSION   961 o +*/

@media screen and (min-width:961px){
  .wrapper{
    width: 960px;
  }
  .container{
  
  flex-direction: row;
  
  }
  
 
  
  }

  /* Footer */
footer{
  background-color: rgb(120, 133, 128);

}