*{
    margin:0;
    padding:0;

}


/*MENÚ*/

/*
    MOBILE VERSION 
*/



header {
    background-color: aquamarine;
    height: 8vh;
    /* vh determina porcentaje del viewport .. en este casoo seria 8/100*/
    display:flex;
    justify-content: space-between;

}

header ul {

    display: none;

}

header h1 {

    line-height: 8vh;
    margin-left:.5em;
    /*medidad "em" es una medida relativa al tamaño de la letra, 
    en este caso le  .5 ... que sería la mitad , queremos un margen de la mitad del tamaño de la letra,*/
}

.menu-button {
    display: inline-block;
    margin: 1vh;
    height: 6vh;
    width: 6vh;
    border: 1px solid black;
    line-height: 6vh;
    text-align: center;
  }
  


.iconoMenu {
    display: inline-block ;
    display: inline-block;
    margin: 1vh;
    height: 6vh;
    width: 6vh;
    line-height: 6vh;
    text-align: center;

}


@media screen and (min-width: 768px){

    @media screen and (min-width: 768px){
        .menu-button{
          display: none;
        }
    .iconoMenu{
      display: none;
    }
    
    nav ul{
      display: block;
    }
    
    nav ul li{
      list-style: none;
      display: inline-block;
      line-height: 8vh;
      margin: 0 .5em;
    }
  }